---
layout: default
title: Blog
category: index
colour: lightcoral
---

<div class="home">

  <div class="post">
    <header class="post-header">
      <p class="meta"><i class="fa fa-calendar-o"></i>{{ site.posts.first.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} | tags: 
      {% for tag in site.posts.first.tags %}
        <a href="/tags/#{{tag}}">{{tag}}</a>
        {% if forloop.last == false %}
          ,  
        {% endif %}
      {% endfor %}
    </p>
    <h1>{{ site.posts.first.title }}</h1>
    </header>

    <article class="post-content">

      {{ site.posts.first.content }}

      <div id="blog_posts">
        <h3>Latest Posts</h3>
        {% for post in site.posts | limit: 3 %}
          <article class="blog_snippit">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            {{ post.content | truncatewords: 22 }}
          </article>
        {% endfor %}
      </div>
    </article>
  </div>
</div>
