<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.category }}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        <div class="maincontent">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/js/myjs.js" type="text/javascript"></script>
    {% if page.title == "Spanish Vocab" %}
      <script src="/js/vocab.js" type="text/javascript"></script>
    {% endif %}

    </body>
</html>
